# **19/02**

# ** If statement:**
If statement is the simplest form of a conditional statement. It executes a block of code if the given condition is true.

In [1]:
i = int(input("enter a number"))
if i>0:
  print(i,"is a positive number")

enter a number23
23 is a positive number

If else:


if(condition):

      //Code

else:

     //Code

if condition satisfies then the code block in if is executed or else code block is executed

In [2]:
a = int(input("enter a number"))
if a > 0:
  print(a,"is positive number")
else:
  print(a,"is negitive number")

enter a number-1
-1 is negitive number

elif:

multiple if else conditions can be mentioned.

In [3]:
b= int(input("enter a number"))
if b>0:
  print(b,"is positive number")
elif b<0:
  print(b,"is negitive number")
else:
  print(b,"is zero")

enter a number0
0 is zero

# **Practice Questions**
## **Even or Odd Number**

In [ ]:
num = int(input("Enter a Number : "))
if num % 2 == 0:
  print("Even Number")
else:
  print("Odd Number")

Enter a Number : 34
Even Number

# **Largest Number**

In [ ]:
n1 = int(input("Enter the First Number : "))
n2 = int(input("Enter Second Number : "))
n3 = int(input("Enter Third Number : "))
if(n1>n2 and n1>n3):
  print(n1,"is the largest number")
elif(n2>n1):
  print(n2,"is the largest number")
else:
  print(n3,"is the largest number")

Enter First Number : 12
Enter Second Number : 24
Enter Third Number : 1
24 is the largest number

# **Smallest Number**

In [ ]:
a = int(input("Enter the First Number : "))
b = int(input("Enter Second Number : "))
c = int(input("Enter Third Number : "))
if (a<b and a<c):
  print(a,"is the smallest number")
elif (b<a):
  print(b,"is the smallest number")
else:
  print(c,"is the smallest number")

Enter the First Number : 23
Enter Second Number : 34
Enter Third Number : 1
1 is the smallest number

# **Grading System**

In [ ]:
math = int(input("Enter Math subject marks: "))
phy = int(input("Enter Physics subject marks: "))
chem = int(input("Enter Chemistry subject marks: "))
eng = int(input("Enter English subject marks: "))

total= math + eng + phy + chem
avg = total / 4
if (avg>=90):
  print("Grade : A")
elif (avg>=80):
  print("Grade : B")
elif (avg>=70):
  print("Grade : C")
elif (avg>=60):
  print("Grade : D")
else:
  print("Grade : FAIL")

Enter Math subject marks: 89
Enter Physics subject marks: 99
Enter Chemistry subject marks: 87
Enter English subject marks: 97
Grade : A

# **Vowels**

In [ ]:
vow={'a','e','i','o','u','A','E','I','O','U'}
ch= input("Enter a Character :")
if (ch in vow):
  print(ch,"is Vowel")
else:
  print(ch,"is Consonant")

Enter a Character :d
d is Consonant

# **Swapping of two numbers**

In [ ]:
a1=int(input("Enter first number : "))
a2= int(input("Enter Second number :"))
print("Numbers before swapping :",a1,a2)
a3=a1
a1=a2
a2=a3
print("Numbers after swapping is :",a1,a2)

Enter first number : 12
Enter Second number :24
Numbers before swapping : 12 24
Numbers after swapping is : 24 12