# Set( ):

Unordered Collection â€“ Elements in a set have no specific order.

Duplicate values are automatically removed.

You can add or remove elements, but individual elements are immutable.

Represented Using {} and separated by " , ".

In [1]:
a={1,2,3,4,1,32,34,2,22}
print(a)

{32, 1, 2, 3, 4, 34, 22}

In [2]:
type(a)

set

In [3]:
print(type(a))

<class 'set'>

## Set Methods:

add():
add element to the set.

In [4]:
a={1,2,3,4}
a.add(6)
print(a)

{1, 2, 3, 4, 6}

Remove():
removes specific element and displays error if element is not found.

In [5]:
a.remove(6)
print(a)

{1, 2, 3, 4}

update( ):
used to add multiple elements from another set, list, tuple, or any iterable to an existing set.

In [6]:
a = {1,2,3,4,5}
b = {6,7,9,10}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 9, 10}

clear( ):
Used to remove all elements from a set, making it an empty set.

In [7]:
a.clear()
a

set()

# **Set Operators:**

### **union( ):**
The union() method combines two or more sets
Returning a new set with all unique elements

In [11]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
a|b

{1, 2, 3, 4, 5, 6}

### **intersection( ):**
Returns a new set containing only the common elements of two or more sets.
The result contains only unique elements that exist in all sets.

In [12]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a.intersection(b)

{4, 5}

In [13]:
a & b

{4, 5}

### **Difference( ):**
Returns a new set containing elements that are in set A but not in set B.

In [14]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a-b

{1, 2, 3}

### **Symmetric_difference( ):**
Returns a new set containing elements that are in either set A or set B, but not in both.

You can use the ^ (caret) operator.

It returns a new set instead of modifying existing ones.

The result contains only unique elements.

In [8]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
result = a.symmetric_difference(b)
print(result)

{1, 2, 5, 6}

In [9]:
a ^ b

{1, 2, 5, 6}