# **What is Data type?**
A data type in Python defines the type of value a variable can hold, such as numbers, text, or complex data structures. Python has built-in data types like int, float, complex, bool, str, list, tuple, set, and dict.

In [2]:
#Integers
x1 = 10
x2 = -5
x3 = 100000
x4 = 0
x5 = 42
x6 = -999
x7 = 123456789
x8 = 75
x9 = -3000
x10 = 2024

In [3]:
#Float
y1 = 10.5
y2 = -3.14
y3 = 0.0
y4 = 2.718
y5 = -99.99
y6 = 1.0
y7 = 12345.6789

In [ ]:
#Complex
z1 = 2 + 3j
z2 = -1 - 4j
z3 = 0 + 0j
z4 = 5j
z5 = 7 - 2j
z6 = -3.5 + 6.1j
z7 = 10 + 0j

In [5]:
# Boolean
b1 = True
b2 = False
b3 = 5 > 3  # True
b4 = 10 < 2  # False
b5 = bool(1)  # True
b6 = bool(0)  # False
b7 = bool("Python")  # True
print(b2)
print(b3)
print(b4)
print(b5)
print(b6)

False
True
False
True
False

# **What is Type Conversion?**

Type Conversion :
Type conversion is changing one data type to another using built-in functions like int(), float(), str(), bool().

In [7]:
a = 10
b = float(a)  # Convert int to float
c = str(a)  # Convert int to string
d = int(3.14)  # Convert float to int
e = bool(0)  # Convert to boolean
print(a)
print(b)
print(c)
print(d)
print(e)

10
10.0
10
3
False

# **What is type() function ?**

type() : function is used to check the data type of a variable.

In [8]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'bool'>